body {
  text-align: center;
  margin: 0;
  padding: 0;
  // background-image: url('../../Images/cat2.jpg') !important;
  background-size: cover;
}

.full-screen-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./cat2.jpg') !important;

}

.header {
  margin: 40px 0;
  color: #009688;
  text-shadow: 2px 2px 4px #000000;
}

.text {
  text-align: center;
  font-size: 1.2em;
  margin: 20px ;
  color: #555;
}

.button {
  margin: 20px auto;
  display: block;
  color: orange;
}

.login-text {
  text-align: center;
  display: block;
  color: #555;
}

.highlight {
  color: #009688;
}
