.pet-list {
    display: flex;
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    width: 100%;
    list-style: none;
  }
  

  