.pet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;


  li {
    height: 30vw !important;
    width: 200px !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .pet-container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;

    .pet-buttons {
      display: flex !important;
      justify-content: center !important;
    }
  }

  .adopted-status {
    margin: 0;
  }
}