.pet-preview {

  display: flex !important;
  justify-content: space-between !important;
  flex-direction: column;



  .pet-img {

    height: 25vw !important;
    object-fit: cover;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 10px !important;




  }

  .pet-details {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
  }


  .name {
    font-size: 16px;
    color: black;
    margin: 0;
  }

  .like {
    all: unset;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}