.ui.segment {
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    background: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;

    .ui.violet.basic.button.button {
        margin-top: 12px !important;
        margin-inline-start: 15px !important;
    }

    .form-container {
        display: flex;
        align-items: center;
    }

}