.ui.segment {
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    background: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
  
.ui.compact.primary.button.button{
    margin-top: 25px;
}

  }
  